.unstyled-list {
  list-style: none;
  padding: 0;
}

.btn-wrappable {
  white-space: normal;
}

.section, .section-inverse {
  padding-top: 30px;
  padding-bottom: 40px;
}

.nav-pills p {
  color: #666;
}

/* Article UI When Read */
.article-list-item.read h3 {
  text-decoration: line-through;
}

.article-list-item.read {
  opacity: 0.5;
}

.article-list-item.read .article-list-item-link:hover {
  text-decoration: none;
}

.video-modal .modal-content .modal-body {
  padding-bottom: 75%;
}

.video-modal .youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-modal .modal-header .close {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1000;
  padding: 0 5px 5px;
}

.iframe-modal .modal-dialog,
.iframe-modal .modal-content,
.iframe-modal .modal-body {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  width: auto;
  height: auto;
}

.iframe-modal .modal-content .modal-footer {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 130px;
  background-color: white;
}

.iframe-modal .modal-footer .btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.iframe-modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  border: 1px solid rgba(0,0,0,0.2);
}


.topic {
  border-top: solid 1px #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.topic-avatar {
  width: 45px;
  float: left;
  margin-top: 5px;
}

.topic-avatar img {
  border-radius: 50%;
}

.topic-body {
  margin-left: 60px
}


.loading .spinner {
  display: block;
  margin: 0 auto 10px;
  font-size: 30px;
  padding: 10px;
  background-color: #bbb;
  border-radius: 30%;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.active {
  transform: translate(0, 0);
  opacity: 1;
}

.slid-left {
  transform: translate(-20%, 0);
  opacity: 0;
  pointer-events: none;
}

.slid-right {
  transform: translate(20%, 0);
  opacity: 0;
  pointer-events: none;
}


.header {
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
}

.main {
  padding-top: 100px;
}

.nav-indicator-wrapper {
  position: absolute;
  bottom: -80px;
  left: 20px;
  color: rgba(0,0,0,0.7);
}

.nav-indicator {
  /*display: inline-block;*/
  position: relative;
  font-size: 13px;
}

.nav-indicator-bullet {
  border: 1px solid rgba(0,0,0,0.7);
  font-size: 40px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: -23px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
}

.nav-indicator-selected {
  color: black;
}

.nav-indicator-selected .nav-indicator-bullet {
  background-color: rgba(0,0,0,0.7);
  border-color: transparent;
}

.nav-indicator-separator {
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  background-color: rgba(0,0,0,0.7);
  width: 10px;
}


@media (max-width:767px) {
  .nav-indicator {
    display: block;
    font-size: 14px;
    left: 5px;
    line-height: 1.3;
    transition: transform 0.3s;
  }
  .nav-indicator-selected {
    transform: translateX(3px);
  }
}
